PORT=3000
NODE_ENV="development"

# Database
MONGO_URI=

# JWT
JWT_SECRET=

# URLs
CLIENT_URL=http://localhost:5173
BACKEND_URL=http://localhost:3000

# Stripe
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=

# Mercado Pago
MERCADOPAGO_ACCESS_TOKEN=

# PayPal
PAYPAL_CLIENT_ID=
PAYPAL_CLIENT_SECRET=

# Email (Nodemailer)
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=465
EMAIL_USER=

# Google OAuth
GOOGLE_CLIENT_ID=
GOOGLE_APP_PASSWORD=

# Cloudinary
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
