@import "tailwindcss";

@layer base {
  :root {
    font-family: "Work Sans", sans-serif;

    --color-green-200: #3f6b4c;
    --color-brown: #4b2e2e;
    --color-beige: #f5f0e6;
    --color-btn-yellow: #f4c95d;
  }
}

@layer components {
  nav.navbar {
    @apply mx-auto mb-3 flex items-center justify-between gap-3 border-b border-(--color-beige) px-3 py-5 text-gray-900;
  }

  nav.navbar a:hover {
    @apply text-(--color-green);
  }

  nav.navbar a.active {
    @apply font-bold;
  }

  button:hover {
    @apply translate-y-1;
  }

  .text-white {
    color: var(--color-beige) !important;
  }
}
