@import "tailwindcss";

@layer base {
  :root {
    font-family: "Work Sans", sans-serif;

    --color-green-200: #3f6b4c;
    --color-brown: #4b2e2e;
    --color-beige: #f5f0e6;
    --color-btn-yellow: #f4c95d;
  }
}

@layer components {
  .admin-layout {
    @apply flex min-h-screen bg-gray-50;
  }

  nav.navbar {
    @apply mx-auto mb-3 flex items-center justify-between gap-3 border-b border-(--color-beige) px-4 text-gray-900;
  }

  nav.navbar a:hover {
    @apply text-(--color-green);
  }

  nav.navbar a.active {
    @apply font-bold;
  }

  nav.navbar ul a {
    @apply py-2;
  }

  .admin-layout aside nav a.active,
  .admin-layout aside nav a.active:hover {
    @apply bg-green-200! text-white;
  }

  button:hover {
    @apply translate-y-1;
  }

  button {
    @apply disabled:cursor-not-allowed disabled:opacity-50 disabled:hover:translate-0;
  }

  input {
    @apply disabled:animate-pulse disabled:cursor-not-allowed disabled:bg-gray-50 disabled:opacity-50;
  }

  p {
    @apply leading-7;
  }

  .modal-wrapper {
    @apply fixed inset-0 z-50 flex h-full justify-center bg-black/30 py-6;
  }

  .modal-dialog {
    @apply relative mx-4 w-full transform text-start transition-all duration-300;
  }

  .modal-content {
    @apply flex max-h-full flex-col rounded-lg bg-white shadow-lg;
  }

  .modal-header {
    @apply shrink-0 border-b border-slate-200 px-7 py-5;
  }

  .btn-close-modal {
    @apply absolute top-5 right-4 rounded p-1 text-slate-600 transition-colors hover:text-slate-950;
  }

  .modal-body {
    @apply flex-1 overflow-y-auto px-7 py-5;
  }

  .modal-footer {
    @apply flex shrink-0 justify-end gap-2 border-t border-slate-200 px-7 py-5;
  }

  @media (max-width: 576px) {
    button:hover {
      @apply translate-0;
    }
  }

  .text-white {
    color: var(--color-beige) !important;
  }
}
