@import "./globals.css";

:root {
  --detail-high-contrast: rgb(101, 101, 101);
}

body {
  background-color: #fdfcfb;
  /* background-color: #f9f8f4; */
}

body {
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Playfair Display", serif;
  font-family: "Lora", serif;
  line-height: 1.4;
}

.admin-layout h1,
.admin-layout h2,
.admin-layout h3,
.admin-layout h4,
.admin-layout h5,
.admin-layout h6 {
  font-family: "Work Sans", sans-serif;
}

.navbar a {
  display: inline-block;
}

button {
  transition: all 0.2s ease-in-out;
}

button:not(:disabled):hover {
  cursor: pointer;
}

footer {
  background-color: var(--color-brown);
  color: var(--color-beige);
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.scroll-thin {
  scrollbar-width: thin;
  scrollbar-color: var(--detail-high-contrast) transparent;
}
/* .scroll-thin::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
.scroll-thin::-webkit-scrollbar-thumb {
  scrollbar-width: thin;
  scrollbar-color: var(--detail-high-contrast) transparent;
}

.scroll-thin::-webkit-scrollbar-thumb {
  background-color: var(--detail-high-contrast);
  border-radius: 3px;
} */

.embla {
  position: relative;
  overflow: hidden;
}

.embla__container {
  display: flex;
}

.embla__slide {
  flex: 0 0 45%;
  min-width: 0;
}

@media (min-width: 992px) {
  .embla__slide {
    flex: 0 0 16.66%;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .embla__slide {
    flex: 0 0 30%;
  }
}
